################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/compile_optimization/tests_compiler/bin/Debug/netstandard2.0
/compile_optimization/tests_compiler/obj
/compile_optimization/compile_optimization/bin/Debug/netcoreapp2.2
/compile_optimization/compile_optimization/obj
/compile_optimization/.vs/compile_optimization/v15
/compile_optimization/compile_optimization.sln.DotSettings.user
/compile_optimization/packages
/compile_optimization/TestResults/b92cd6c9-32aa-48a7-9529-5f544a81bad8
/.vs
/compile_optimization/ConsoleApp1/obj/Release/netcoreapp2.2
/compile_optimization/.vs/CompileOptimization/v15
/compile_optimization/CompileOptimization/bin/Debug/netcoreapp2.2
/compile_optimization/CompileOptimization/obj
/compile_optimization/CompileOptimization.Tests/bin/Debug/netcoreapp2.2
/compile_optimization/CompileOptimization.Tests/obj
